@function adjust-luminance($color, $hadd: 0, $sadd: 0, $ladd: 0) {
  $h: hue($color) + $hadd;
  $s: saturation($color) + $sadd;
  $l: lightness($color) + $ladd;
  @return hsl($h, $s, $l);
}

$colors: (
  "red": hsl(350, 100%, 40%),
  "orange": hsl(25, 100%, 40%),
  "yellow": hsl(47, 100%, 45%),
  "green": hsl(163, 100%, 25%),
  "blue": hsl(185, 100%, 30%)
);

:root {
  --gray: hsl(0, 0%, 95%);
  --darkgray: hsl(0, 0%, 75%);
  @each $name, $value in $colors {
    --#{$name}: #{$value};
    --dark#{$name}: #{adjust-luminance($value, $ladd: -10%)};
    --light#{$name}: #{adjust-luminance($value, $sadd: -25%, $ladd: +10%)};
  }
}

/* Compile with: sass "palette/palette.scss" "palette/palette.css" */
