:root {
    --bs-root-font-size: 16px;
}

body {
    padding-top: 0 !important;
}

#quarto-header.fixed-top {
    top: calc(2rem + 27px + 4px);
}

header.headroom--unpinned {
    transform: translateY(calc(-100% - 2rem - 27px - 4px));
}

header.headroom--pinned.headroom--not-top {
    transform: translateY(calc(-2rem - 27px - 4px));
}
