/* Two columns content to fit new navbar */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
#site-main {
    display: flex;
    flex-direction: row;
}
nav.navbar {
    position: static;
    width: calc(205px + 2rem);
    min-height: 100vh;
    align-items: flex-start;
    padding: 0;
}


/* Navbar to column */
nav.navbar div.container {
    margin-top: 2rem;
    padding: 0 1rem 0 1rem;
    flex-direction: column;
}
nav.navbar div.container div#navbar {
    flex-direction: column;
    margin-left: 0 !important;
    margin-top: 1rem;
    display: flex !important; /* disable button */
}
nav.navbar div.container div#navbar ul.navbar-nav {
    flex-direction: column;
    padding-left: 1rem;
    margin-top: 1rem;
}
nav.navbar div.container div#navbar li.nav-item {
    margin-top: 0.5rem;
}
nav.navbar div.container div#navbar li.nav-item span.fa-github::after {
    content: "Source";
    margin-left: 8px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px
}
/*nav.navbar div.container div#navbar ul.navbar-nav a.nav-link, button.nav-link {
    padding-top: 0;
    padding-bottom: 0;
}*/
nav.navbar div.container div#navbar > form {
    margin-top: 2rem !important;
}
.navbar-toggler {
    display: none;
}
/*nav.navbar div.container a.navbar-brand {
}
nav.navbar div.container small.nav-text {
}*/

.headroom--unpinned, .headroom--pinned {
    transform: none;
}

@media (max-width: 992px) {
    .navbar-form, .form-inline {
        display: none;
    }
    nav.navbar {
        width: 150px;
    }
    #navbar, #navbar > ul {
        width: calc(150px - 2rem);
    }
}


/* Adjust site constructs */
header#site-header {
    margin-bottom: 0;
    min-width: calc(150px + 250px + 10px);
}
footer#site-footer {
    margin-bottom: 0;
    min-width: calc(150px + 250px + 10px);
}


/* General margins and paddings */
#site-main {
    margin-top: 1rem;
}
#site-main .page-header {
    min-height: 0;
}
#site-main h2 {
    margin-top: 2rem;
}
#site-main > div.container {
    margin-bottom: 1.5rem;
}
#dropdown-articles {
    color: var(--green);
}
